<mat-card>
    <mat-card-header>
        <mat-card-title style="font-weight: bolder;">Login</mat-card-title>
        <mat-card-subtitle>let's know who you are</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="usernname" [(ngModel)]="username"  name="username" required>
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>e.g mroger</mat-hint>
            <mat-error>
                Please provide a valid username
              </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" [(ngModel)]="password"  name="password" required>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-hint>Hint: *****</mat-hint>
            <mat-error>
                Please provide a valid password
              </mat-error>
          </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </form>
      <p>
        don't have account? <button mat-button color="primary" routerLink="/signup">create account</button>
      </p>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="processing"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>




