<mat-toolbar color="primary">
    <span style="font-size: xx-large; font-weight: bolder;">BPBHM</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
    <div class="row" style="margin-top: 1%;">
        <h1 style="text-align: left; font-weight: bold;">Welcome to BPBHM</h1>
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">Crow was built for for adventurers seeking partners. Solved a shortage of creating a new outlet for finding adventure partners. Finding someone to date is challenging enough. Finding a person you can be happy with for the rest of your life can feel impossible. Take your time, spend time with your friends, and take care of yourself. Date, but date calmly. Commit, but commit carefully. Love can't be rushed.</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
